.contact-background {
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;

  img {
    height: 70px;
  }

  div {
    margin: 2%;
  }

  a {
    color: white;
  }
}

.contact-box {
  background: url("../../images/about1.jpeg") repeat 0 0;
  background-size: 100%;
  display: flex;
  padding: 10%;
  border: 1px solid $main-color;
  justify-content: start;
}

.contactForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  color: $main-color;
  background-color: rgba(255, 255, 255, .6);
  padding: 5%;
  min-width: 330px;

  div input, textarea, button {
    width: 300px;
    height: 30px;
    margin-bottom: 5%;
    border: 1px solid $main-color;
    color: $main-color;
  }
  button:hover {
    color: white;
    background-color: $main-color;
  }
  button:active {
    background-color: $main-color-brighter;
    color: white;

  }

}



@media only screen and (max-width: 700px) {

}