.crudInformation {
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  padding: 3%;
}

.crudListTable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  background-color: rgba(255, 255, 255, .9);
  min-width: 500px;

  table {
    font-size: 1vw;
    margin: 2%;

    th, td {
      border: 1px solid black;
      padding: 1%;
    }
    th {
      background-color: $main-color;
      color: white;
    }
    img {
      max-height: 70px;
    }
  }
}

.addProductBox {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
.addProductBox {
  justify-content: center;
}
}