.select-option {
  margin: 3%;
  display: flex;
  justify-content: center;
  div{
    margin: 2%;
  }
}


.products-cards {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  margin: 2%;
  flex-direction: row;
}

.product-card {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  width: 250px;
  height: 350px;
  border-radius: 7px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 1;
  margin: 2%;
  overflow: hidden;

  img {
    object-fit: contain;
    max-height: 130px;
    max-width: 230px;
    width: auto;
    height: auto;
    padding: 5%;
    transition: max-height 1s linear;
  }

  img:hover {
    max-height: 250px;
  }

  div:nth-child(1) {
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $main-color;
    position: absolute;
    bottom: 0;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}

.form-home {
  padding: 5%;
  margin: 5%;
  min-width: 80px;
  min-height: 25px;
  border-radius: 7px;
  border: $main-color solid 1px;
}

.form-home:focus{
  outline: 0;
}