@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.select-options {
  margin: 3%;
  display: flex;
  justify-content: center;
  width: 50%;
}

.price-slider {
  width: 50%;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
  flex-direction: row;
}

.product-card {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  width: 250px;
  height: 350px;
  border-radius: 7px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 1;
  margin: 2%;
  overflow: hidden;
}
.product-card img {
  object-fit: contain;
  max-height: 130px;
  max-width: 230px;
  width: auto;
  height: auto;
  padding: 5%;
  transition: max-height 1s linear;
}
.product-card img:hover {
  max-height: 250px;
}
.product-card div:nth-child(1) {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.product-card div:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: purple;
  position: absolute;
  bottom: 0;
}
.product-card div:nth-child(4) div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.shoppingCart {
  background-color: white;
  z-index: 200;
  position: relative;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cartItem img {
  max-height: 100px;
  max-width: 100px;
}
.cartItem div:nth-child(1) {
  width: 30%;
}
.cartItem div:nth-child(2) {
  width: 20%;
}
.cartItem div:nth-child(3) {
  width: 30%;
}
.cartItem div:nth-child(4) {
  width: 20%;
}

.cart-open {
  position: fixed;
  z-index: 5;
  right: 20px;
  top: 20px;
}

.formAddProduct {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.formAddProduct div {
  margin: 5%;
  width: 15vw;
}

.pos-relative {
  position: relative;
  display: grid;
  align-content: start;
}

.effect-green {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.effect-green ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: purple;
  transition: 0.4s;
}

.effect-green:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

.crudListTable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.crudListTable table {
  max-width: 30%;
  border: 1px solid black;
  font-size: 1vw;
}
.crudListTable table th, .crudListTable table td {
  border: 1px solid black;
  padding: 1%;
}

#first {
  background: url("../../images/boys.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#second {
  background: url("../../images/happy_dude.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#first, #second {
  width: 100%;
  height: 800px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(-1px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}
#first div, #second div {
  position: absolute;
  bottom: 0;
  right: 0;
  color: purple;
  padding: 1%;
}
#first p, #second p {
  font-size: 4vw;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2%;
}

.price-slider {
  width: 50%;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
  flex-direction: row;
}

.form-home {
  padding: 5%;
  margin: 5%;
  min-width: 80px;
  min-height: 25px;
  border-radius: 7px;
  border: purple solid 1px;
}

.form-home:focus {
  outline: 0;
}

.navigation-links {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 0.8vw;
}
body h4 {
  font-size: 1.2vw;
}

button {
  border: none;
  background: purple;
  color: white;
  font-size: 1vw;
  font-weight: normal;
  transition: background-color 0.3s linear;
}

button:hover {
  background: white;
  color: purple;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 2.5vw;
  }
  body h3 {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=globals.css.map */
