@import "variables";
@import "components/productCard";
@import "components/cart";
@import "components/cartItem";
@import "components/home";
@import "components/addProduct";
@import "components/crud";
@import "components/productCards";
@import "components/navigation";
@import "components/about";
@import "components/shop";
@import "components/contact";
@import "components/login";
@import "components/register";
@import "components/reset";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');




body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 0.8vw;
  margin-top: 70px;
  h4 {
    font-size: 1.2vw;
  }
}

a {
  text-decoration: none;
}

button {
  border: none ;
  background: $main-color;
  color: white;
  font-size: 1vw;
  font-weight: normal;
  transition: background-color 0.3s linear;
}

button:hover {
  background: white;
  color: $main-color;
}


:focus {
  outline: none;
}


.pos-relative {
  position: relative;
  display: grid;
  align-content: start;
  margin-bottom: 5%;
}

.effect-underline {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.effect-underline ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $main-color;
  transition: 0.4s;
}

.effect-underline:focus ~ .effect-underline {
  width: 100%;
  transition: 0.4s;
}



@media only screen and (max-width: 700px) {
  body, th, td {
    font-size: 10px;
    h3 {
      font-size: 20px;
    }
  }
}


@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}