@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.select-options {
  margin: 3%;
  display: flex;
  justify-content: center;
  width: 50%;
}

.price-slider {
  width: 50%;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
  flex-direction: row;
}

.product-card {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  width: 250px;
  height: 350px;
  border-radius: 7px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 1;
  margin: 2%;
  overflow: hidden;
}
.product-card img {
  object-fit: contain;
  max-height: 210px;
  max-width: 300px;
  width: auto;
  height: auto;
  padding: 5%;
  transition: max-height 0.5s linear;
}
.product-card img:hover {
  max-height: 400px;
  padding: 0;
}
.product-card div:nth-child(1) {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.product-card div:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: purple;
  position: absolute;
  bottom: 0;
}
.product-card div:nth-child(4) div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 700px) {
  .product-card button {
    font-size: 3vw;
  }
}
.shoppingCart {
  background-color: white;
  z-index: 200;
  position: relative;
  font-size: 1vw;
}

@media only screen and (max-width: 700px) {
  .shoppingCart {
    font-size: 3vw;
  }
}
.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cartItem button {
  max-height: 50%;
  margin: 5%;
}
.cartItem img {
  max-height: 100px;
  max-width: 100px;
}
.cartItem div:nth-child(1) {
  width: 30%;
}
.cartItem div:nth-child(2) {
  width: 20%;
}
.cartItem div:nth-child(3) {
  width: 30%;
}
.cartItem div:nth-child(4) {
  width: 20%;
}

#first {
  background: url("../../images/boys.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#second {
  background: url("../../images/happy_dude.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#first, #second {
  width: 100%;
  height: 800px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(-1px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}
#first div, #second div {
  position: absolute;
  bottom: 0;
  right: 0;
  color: purple;
  padding: 1%;
}
#first p, #second p {
  font-size: 4vw;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2%;
}

@media only screen and (max-width: 700px) {
  #first, #second {
    height: 200px;
  }
}
.formAddProduct {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  color: purple;
  padding: 5%;
  border: 1px solid purple;
}
.formAddProduct div input, .formAddProduct textarea, .formAddProduct button {
  width: 300px;
  height: 30px;
  margin-bottom: 5%;
  border: 1px solid purple;
}

.crudInformation {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  padding: 3%;
}

.crudListTable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 500px;
}
.crudListTable table {
  font-size: 1vw;
  margin: 2%;
}
.crudListTable table th, .crudListTable table td {
  border: 1px solid black;
  padding: 1%;
}
.crudListTable table th {
  background-color: purple;
  color: white;
}
.crudListTable table img {
  max-height: 70px;
}

.addProductBox {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .addProductBox {
    justify-content: center;
  }
}
.price-slider {
  width: 50%;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
  flex-direction: row;
}

.form-home {
  padding: 5%;
  margin: 5%;
  min-width: 80px;
  min-height: 25px;
  border-radius: 7px;
  border: purple solid 1px;
}

.form-home:focus {
  outline: 0;
}

.navigation-links {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
}
.navigation-links a, .navigation-links div {
  text-decoration: none;
  font-size: clamp(17px, 1.5vw, 25px);
  transition: font-size 0.5s ease;
  color: #ECEFF1;
}
.navigation-links a:hover, .navigation-links div:hover {
  font-size: clamp(21px, 2vw, 30px);
  cursor: pointer;
}
.navigation-links p {
  color: white;
  font-size: clamp(17px, 1.5vw, 25px);
}

.noFutureGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);
}
.noFutureGallery .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
.noFutureGallery .card .cardHead {
  background: purple;
  color: #ECEFF1;
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}
.noFutureGallery .card:hover {
  flex-grow: 10;
}
.noFutureGallery .card:hover .cardHead {
  text-align: center;
  top: calc(100% - 2em);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.noFutureGallery .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

#third {
  background: url("../../images/boys2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 300px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(-1px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}

.contact-background {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}
.contact-background img {
  height: 70px;
}
.contact-background div {
  margin: 2%;
}
.contact-background a {
  color: white;
}

.contact-box {
  background: url("../../images/about1.jpeg") repeat 0 0;
  background-size: 100%;
  display: flex;
  padding: 10%;
  border: 1px solid purple;
  justify-content: start;
}

.contactForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  color: purple;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5%;
}
.contactForm div input, .contactForm textarea, .contactForm button {
  width: 300px;
  height: 30px;
  margin-bottom: 5%;
  border: 1px solid purple;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}

.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}

.reset {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.reset div {
  margin-top: 7px;
}

body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 0.8vw;
  margin-top: 70px;
}
body h4 {
  font-size: 1.2vw;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: purple;
  color: white;
  font-size: 1vw;
  font-weight: normal;
  transition: background-color 0.3s linear;
}

button:hover {
  background: white;
  color: purple;
}

:focus {
  outline: none;
}

.pos-relative {
  position: relative;
  display: grid;
  align-content: start;
  margin-bottom: 5%;
}

.effect-underline {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.effect-underline ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: purple;
  transition: 0.4s;
}

.effect-underline:focus ~ .effect-underline {
  width: 100%;
  transition: 0.4s;
}

@media only screen and (max-width: 700px) {
  body, th, td {
    font-size: 10px;
  }
  body h3, th h3, td h3 {
    font-size: 20px;
  }
}
@media print {
  a[href^=http]:after {
    content: " (" attr(href) ")";
  }
}

/*# sourceMappingURL=globals.css.map */
