$main-color: purple;
$main-color-brighter: lighten($main-color, 10%);

//$light-font-color: black;
//$light-background-color: white;
//$dark-font-color: white;
//$dark-background-color: black;

//background photos
$parallax-height: 1000px;
$center-margin: 0px auto;

$parallax-height: 1000px;
$center-margin: 0px auto;
$theme: #2e3738;

